@external *;
@url imageColiseuUrl coliseu;
@url imageEiffelUrl eiffel;
@url imageLibertyUrl liberty;

.imageNormal
{
	width:280px !important;
	height:220px !important; 
	margin:5px;
}

.imageBig
{
	width:350px !important;
	height:270px !important; 
	margin:5px;
}

.imageSmall
{
	width:280px !important;
	height:220px !important; 
	margin:5px;
	opacity:0.40;
	-moz-opacity: 0.40;
	filter: alpha(opacity\=40);
}


.imagelabelInformImage
{
	text-align: justify;
	color:#1c5994;
	width: 900px;
}

.imagelabelTitleImage
{
	text-align: center;
	font-size: large;
	font-weight: bold;
	margin-bottom: 1%;
	color:#1c5994;
	width: 900px;
}