@external *;

.menuItem-wrapper
{
	text-align: left;
}

.menuItem-label-style
{
	display: inline;
	vertical-align: middle;
	color: #1c5994 !important;
}

.menuItem-image-style
{
	height: 25px;
	width: 25px;
	vertical-align: middle;
	margin-right: 8px;
}