@external *;

.showcase-swapPanel
{
	width: 300px !important;
	height: 280px !important;
	text-align:center;
}

.swapPanel-input-size
{
	width: 200px;
}

.sp-button-margin
{
	margin-left: 8px;
}
