@external *;

@url svgIconHouse svgIconHouse;
@url svgIconCode svgIconCode;
@url svgIconMenu svgIconMenu;
@url svgIconArrow svgIconArrow;
@url svgIconPresent svgIconPresent;
@url banner1promoUrl banner1promo;
@url banner1promoUr2 banner1promo;
@url banner1promoUr3 banner1promo;
@url imageColiseuUrl coliseu;
@url imageEiffelUrl eiffel;
@url imageLibertyUrl liberty;
@url mundiUrl mundi;
@url guileUrl guile;
@url logoSmallUrl logoSmall;
@url noiseUrl noise;

/*
* Modern clearfix (IE9+)
*/
.cf:before, .cf:after, .popupContent:before, .popupContent:after
{
	content: " ";
	display: table;
}
.cf:after, .popupContent:after
{
	clear: both;
}
/* End of clearfix */

body
{
	background-color:#f2f2f2;
	font-family:OpenSans, Arial, Helvetica Neue, Helvetica, Roboto, Ubuntu, sans-serif;
}

/* header */
.lang-toggler-wrapper
{
	right: 15px;
}

.menuEntriesContainer
{
	padding: 10px;
}

.menuTabsHeader
{
	background-color: #444949;
	height: 25px;
	text-align: right;
	width: 100%;
	border: solid 0px;
	border-bottom: solid 1px #FFFFFF;
	background-image: logoSmallUrl;
	background-repeat: no-repeat;
	background-position: 40px 0px;
	background-size: 65%;
}

.topBarIcon
{
	height: 20px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding-left: 30px;
	border: solid 1px transparent;
	background-color: transparent;
	color: #FFFFFF;
	background-position: 0px center; 
	cursor: pointer;
	background-repeat: no-repeat;
	font-size: 0px;
	margin-top: 21px;
}
.topBarIcon:hover
{
	text-decoration: underline;
}

.siteIcon 
{
  background:svgIconHouse no-repeat center center;
  background-size:auto 100%;
  display: none;
}

.projectIcon 
{
  background:svgIconCode no-repeat center center;
  background-size:auto 100%;
  display: none;
}

.menuTabsHeader
{
	background-color: #444949;
	height: 25px;
	text-align: right;
	width: 100%;
	border: solid 0px;
	border-bottom: solid 1px #FFFFFF;
	
	background-image: logoSmallUrl;
	background-repeat: no-repeat;
	background-position: 40px 0px;
	background-size: 65%;
}

.topBarIcon
{
	height: 20px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding-left: 30px;
	border: solid 1px transparent;
	background-color: transparent;
	color: #FFFFFF;
	background-position: 0px center; 
	cursor: pointer;
	background-repeat: no-repeat;
	font-size: 0px;
	margin-top: 19px;
}
.topBarIcon:hover
{
	text-decoration: underline;
}

.siteIcon 
{
  background:svgIconHouse no-repeat center center;
  background-size:auto 100%;
}

.projectIcon 
{
  background:svgIconCode no-repeat center center;
  background-size:auto 100%;
}

.crux-MenuTabsDisposal .menuTabsHeader
{
	height: 62px !important;
	background:#4395c6 !important;
	color:#fff !important;
	box-shadow:0 -1px 0 rgba(0,0,0,0.11) inset, 0 1px 5px rgba(0,0,0,0.15) !important;
	border:none !important;
	position:relative !important;
}
.crux-MenuTabsDisposal .menuTabsHeader:before
{
	content:'Crux Showcase';
	position:absolute;
	top:8px;
	left:50px;
	font-size:20px;
	font-size:19px;
}

.crux-MenuTabsDisposal .showMenuButton
{
	width:40px !important;
	height:100% !important;
	background:svgIconMenu no-repeat center center rgba(0,0,0,0.1) !important;
	background-size:85% auto;
	position:absolute !important;
	top:0;
	left:0;
	margin-top:0 !important;
}
.crux-MenuTabsDisposal .showMenuButton:active
{
	background:rgba(0,0,0,0.3);	
}

.crux-MenuTabsDisposal .menuSection
{
	height:auto !important;
	background:rgba(0, 0, 0, 0) !important;
	box-shadow:none !important;
	color:#3D3D3D !important;
	padding:0 !important;
	line-height:normal !important;
	font-weight:bold;
	font-size:17px !important;
}

.crux-MenuTabsDisposal .menuEntry
{
	background:rgba(0, 0, 0, 0) !important;
	box-shadow:none !important;
	margin-left:0 !important;
	text-align:left;
	border-bottom:1px solid #cfcfcf !important;
	display:block;
	padding:10px 0 !important;
	height:auto !important;
	width:100% !important;
	font-size:15px !important;
}

.crux-MenuTabsDisposal .menuEntry:after
{
	background:transparent !important;
	box-shadow:none !important;
	width:17px !important;
	height:100% !important;
	background:svgIconArrow no-repeat center center !important;
	background-size:100% auto !important;
}

.crux-MenuTabsDisposal .menuSectionEntries
{
	margin-bottom:20px;
}


.mainWelcome
{
	width: 100%;
}
.wellcomeText
{
	display: table;
	width: 100%;
	background-color: rgb(250, 250, 250);
	padding: 15px;
	padding-top: 5px;
	background-image: noiseUrl;
	border: solid 1px rgb(238, 238, 238);
}
.wellcome-mg-bt
{
	margin-bottom: 20px;
}
.textWelcome
{
	font-size: 22px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	margin: 2%;
	text-align: center;
}

.textInfo
{
	margin: 7px 0px;
	text-align: justify;
}

.wellcomeText h1
{
	color: rgb(76, 104, 121);
	font-size: 22px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: normal;
}

.wellcomeText p
{
	text-align: justify;
	color: #4c6879;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}



.activeView
{
	color:rgba(0,0,0,0.4);
	font-size:14px;
	position:absolute;
	top:30px;
	left:50px;
}

.speechBubble
{
	position:relative;
	background-image:noiseUrl;
	border:solid 1px #ccc;
	box-shadow:0px 1px 4px rgba(0, 0, 0, 0.1);
	margin:20px 10px 10px 10px;
	border-radius:2px;
	padding:10px;
	text-align:left;
	max-width:100%;
	background:#eee;
}
.speechBubble:after
{
	content: "";
	position: absolute;
	top: -10px;
	left:50%;
	margin-left:-10px;
	border: 10px solid #F8F8F8;
	background-color: transparent;
	display: block;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	height: 0px;
	width: 0px;
	border-bottom: solid 10px transparent;
	border-right: solid 10px transparent;
	box-shadow: -1px -1px 0px #CFCFCF;
}
.speechBubble p
{
	text-align: justify;
	text-shadow: 0 1px rgba(255,255,255,0.6);
	color: #4c6879;
	font-size:14px;
	line-height:20px;
	-webkit-font-smoothing: antialiased;
	text-align:justify;
}
.speechBubble h1
{
	-moz-box-sizing:content-box;
  	-webkit-box-sizing:content-box;
 	box-sizing:content-box;
	width:100%;
	padding:10px;
	margin:-10px 0 0 -10px;
	color:#4c6879;
	text-shadow:0 1px rgba(255,255,255,0.6);
	font-size:20px;
	border-bottom:1px solid #ccc;
	background:rgba(255,255,255,0.5);
	-webkit-font-smoothing:antialiased;
	font-weight:normal;
}
.speechBubble .crux-Button
{
	display:none;
	background:linear-gradient(rgba(255, 255, 255, 0.4), rgba(100, 100, 100, 0.08));
	color:#333;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);
	border-radius:3px;
	width:auto;
	height:auto;
	padding:10px 15px;
	box-shadow:0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 0 rgba(255, 255, 255, 0.5), 0 0 0 3px rgba(102, 175, 233, 0.24) inset;
	border:1px solid #66AFE9;
}

.speechBubble .crux-Button:hover
{
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 1px 0 rgba(255, 255, 255, 0.5), 0 0 0 3px rgba(255, 255, 255, 0.44) inset;
}
.speechBubble .crux-Button:active
{
	background: linear-gradient(rgba(100, 100, 100, 0.08), rgba(100, 100, 100, 0.08));
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08) inset, 0 1px 0 rgba(255, 255, 255, 0.5);
}

.crux-MenuTabsDisposal .menuSectionEntries-closed
{ 
	height:auto !important;
}
.dateInput
{
	width:60%;
	text-align:center;
}
.guilePanel
{
	background:guileUrl no-repeat left;
	background-size: 100px;
	padding-left: 100px;
	min-height: 100px;		
}
.valueLabel
{
	font-weight:normal !important;
}

.btn-Group
{
	overflow:hidden;
}
.btn-Group .gwt-RadioButton
{
	border:1px solid #ccc;
	border-left:none;	
	margin-left:-5px;
	display:inline-block;
	overflow:hidden;
}
.btn-Group .gwt-RadioButton:first-child
{
	background:#fff;
	border-radius:3px 0 0 3px;
	border-left:1px solid #ccc;
	margin-left:0;
}
.btn-Group .gwt-RadioButton:last-child
{
	border-radius:0 3px 3px 0;
}
.btn-Group .gwt-RadioButton:hover
{
	background:#eee;
}
.btn-Group .gwt-RadioButton:active
{
	box-shadow:0 1px 1px rgba(0, 0, 0, 0.1) inset;
}
.btn-Group .gwt-RadioButton input
{
	position:absolute;
	top:-100px;
	visibility:hidden;
}
.btn-Group .gwt-RadioButton label
{
	display:inline-block;
	padding:5px 7px;
	color:#333;
	font-size:13px;
	cursor:pointer;
}
.btn-Group .gwt-RadioButton input:checked + label
{
	background:#f1f1f1;
}
.syntaxhighlighter code, .syntaxhighlighter pre
{
	box-shadow:none;
}
.styledWrap
{
	margin:10px 0 3px;
}
.styledWrap > .rs-left:first-child
{
	margin-bottom:8px;
}

.productImage
{
	width:80px;
	height:70px;
	border:1px solid #ccc;
	background:svgIconPresent no-repeat center #eee;
	background-size:32px auto;
	float:left;
}
.productName
{
	font-weight:bold;
	color:#222;
	text-align:center;
	margin:0px auto 10px 7px;
	float:left;
	font-size:18px;
}
.productPrice
{
	color:#78a32e;
	font-weight:bold;
	font-size:18px;
	text-align:center;
	margin:27px auto 0 -83px;
	float:left;
	font-size:16px;
}
.productButton
{
	background:#4396c6;
	border:none;
	box-shadow:none;
	color:#fff;
	font-wight:bold;
	padding:5px 8px;
	border-radius:4px;
	float:right;
	width:70px;
}
.storeItem
{
	margin-right:0;
	margin-bottom:10px;
}

.banner1
{
	background:#acdf53;
}

.banner2
{
	background:#dfc053;
}

.banner3
{
	background:#bb596c;
}

.promoBannerWidth
{
	width:90%;
}

.scrollBannerWidth
{
	width:90%;
}

/* MessageBox */
.messageBox-Button
{
	margin-bottom: 3px !important;
}


/* Image */
.imageNormal
{
	width:150px !important;
	height:100px !important; 
	margin:5px;
}

.imageBig
{
	width:260px !important;
	height:185px !important; 
	margin:5px;
}

.imageSmall
{
	width:100px !important;
	height:80px !important; 
	margin:5px;
	opacity:0.40;
	-moz-opacity: 0.40;
	filter: literal("alpha(opacity=40);");
}


.imagelabelInformImage
{
	text-align: justify;
	color:#1c5994;
	width: 95%;
}

.imagelabelTitleImage
{
	text-align: center;
	font-size: large;
	font-weight: bold;
	margin-bottom: 1%;
	color:#1c5994;
	width: 100%;
}

.topMenuDisposalTitle
{
	text-align: left;
	font-size: x-large;
	font-weight: bold;
	color:#1c5994;
}

.topMenuDisposalInfo
{
	text-align: justify;
	vertical-align:middle;
	font-size: 12px;
	color:#666666;
	line-height: 200%;
}

.topMenuDisposalText
{
	text-align: center;
	vertical-align:middle;
	font-size: large;
	color:#1c5994;
	line-height: 200%;
}

.topMenuDisposalPanel
{
	width: 100%;
}

.topMenuDisposalPanelLeft
{
	margin-top: 5%;
	display: table;
	float: left;
	width: 50%;
	padding-right: 50px;
}

.topMenuDisposalPanelRight
{
	margin-top: 5%;
	display: table;
	float: right;
	width: 50%;
}

.topMenuDisposalPanelCenter
{
	margin-top: 10%;
	width: 100%;
	text-align: center;
}

.topMenuDisposalPanelList
{
	height:45%; 
	width:100%;
	margin-top:15%; 
	text-align: center;
	vertical-align: middle;
}

.topMenuDisposalListActive
{
	color: #333333;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}

.topMenuDisposalListInactive
{
	color: #666666;
	text-align: center;
}

.topMenuDisposalImage
{
	background-image: mundiUrl;
	width:300px !important;
	height:160px !important; 
	background-size: 100% 100%;
	border-radius: 100px;
	opacity:0.75;
	-moz-opacity: 0.75;
	filter: literal("alpha(opacity=75);");
}

.dialogBoxPanel
{
	vertical-align: middle;
	text-align: center;
	padding: 10px;
}
.dialogBoxPanelButton
{
	margin:5px 2px !important;
}

.errorMessage
{
	color: red;
	font-weight: bold;
}

.successMessage
{
	color: green;
	font-weight: bold;
}

.panelResultData
{
	font-weight: bold;
	margin-top: 3%;
}

.anchorWrapper
{ 	
	margin: 4%;
	padding: 4%;
	border-style: dotted !important;
	border-width: thin;
	border-color: #1c5994 !important;
	vertical-align: middle !important;
	text-align:center;
}

.topMenuDisposalTitle
{
	text-align: left;
	font-size: x-large;
	font-weight: bold;
	color:#1c5994;
}

.topMenuDisposalInfo
{
	text-align: justify;
	vertical-align:middle;
	font-size: 12px;
	color:#666666;
	line-height: 200%;
}

.topMenuDisposalText
{
	text-align: center;
	vertical-align:middle;
	font-size: large;
	color:#1c5994;
	line-height: 200%;
}

.topMenuDisposalPanel
{
	width: 100%;
	height: 200px;
}

.topMenuDisposalPanelLeft
{
	margin-top: 5%;
	display: table;
	float: left;
	width: 50%;
	padding-right: 2%;
}

.topMenuDisposalPanelRight
{
	margin-top: 5%;
	display: table;
	float: right;
	width: 50%;
}

.topMenuDisposalPanelCenter
{
	margin-top: 10%;
	width: 100%;
	text-align: center;
}

.topMenuDisposalPanelList
{
	height:45%; 
	width:100%;
	margin-top:15%; 
	text-align: center;
	vertical-align: middle;
}

.topMenuDisposalListActive
{
	color: #333333;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
}

.topMenuDisposalListInactive
{
	color: #666666;
	text-align: center;
}

.topMenuDisposalImage
{
	background-image: mundiUrl;
	width:300px !important;
	height:160px !important; 
	background-size: 100% 100%;
	border-radius: 100px;
	opacity:0.75;
	-moz-opacity: 0.75;
	filter: literal("alpha(opacity=75);");
}

.dialogViewContainer
{
	width:100%;
	height:100%;
}

.dialogViewContainerResult
{
	margin: 12% 0;
  width: 256px;
  text-align: center;
}

.radioPanel
{
	height: 80px;
}

.timerPanel
{
	text-align:center;
	box-shadow: 1px 1px 8px #888888;
	border-radius: 3px;
}

.menuEntriesContainer .menuSectionEntries:nth-child\(12\) .menuSectionEntriesContent .menuEntry:nth-child\(3\)
/* .menuEntriesContainer .menuSectionEntries:nth-child\(7\) .menuSectionEntriesContent .menuEntry:nth-child\(3\) */
{
	display:none;
}

.grid td{
	min-width: 0px !important;
}

.topMenuDisposalPanel{
	display: none !important;
}

.explanationMobile{
	display: block;
	text-align: justify;
}

.crux-TopMenuDisposal .headerPanel {
	display: none;
}


/* Menu */
.menuItem-wrapper
{
	text-align: left;
}

.menuItem-label-style
{
	display: inline !important;
	vertical-align: middle;
	margin-right: 5px;
	color: #1c5994 !important;
}

.menuItem-image-style
{
	height: 25px;
	width: 25px;
	vertical-align: middle;
	margin-right: 13px;
}


/* Disposal */
.mobileDisposal
{
	width: 90% !important;
	height: 354px !important;
	margin-top: 20px;
	background-size: 100% !important; 
}

.unselected-button
{
	background: gray !important;
	border: 1px solid gray !important;
	color: lightgrey !important;
}


/* Confirm */
.confirm-label
{
	font-size: 20px;
	margin-bottom: 20px;
}


/* RollingPanel */
.showcase-RollingPanel, .showcase-cust-RollingPanel
{
	width: 250px;
}

.rollingPanel-panel
{
	margin-bottom: 50px;
	display: block !important;
}

.rollingPanel-image
{
	width: 300px !important;
	height: 180px !important;
	background-size: 100% !important;
}

.saleItem .faces-Image
{
	height: 120px;
	width: 120px;
	margin: 5px;
}

.saleItem .faces-Label
{
	font-size: 19px;
	margin-top: 10px;
}

.saleItem .label-price
{
	font-size: 40px;
	color: #e70101;
	height: 50px;
	background-color: rgba(255, 255, 255, 1);
	font-family: monospace;
}

.saleItem-wrapper-panel
{
	height: 230px;
	width: 200px;
	border: solid 2px white;
	margin: 0px 0.5px;
	background-color: #eee;
	border-radius: 10px;
	border-bottom: solid 3px #c8c8c8;
	border-right: solid 3px #c8c8c8;
	overflow: hidden;
}

/* SwapViewContainer */
.showcase-swapViewContainer
{
	width: 100%;
	height: 500px !important;
}

.swapView-image
{
	width: 280px !important;
	height: 391px !important;
	background-size: 100% !important;
}

.swapView-topPanel
{
	background-color: rgb(231, 1, 1);
	padding: 6px;
}

.swapView-topPanel-title
{
	color: white;
	font-size: 30px;
	font-weight: 900;
	display: inline;
}

.swapView-topPanel-logo
{
	vertical-align: middle;
	width: 66px !important;
	height: 75px !important;
	background-size: 100% !important;
}

.swapView-topPanel-login
{
	color: white;
	font-size: 14px;
	display: inline;
	vertical-align: middle;
}

.swapView-buy-button
{
	background-color: #e70101 !important;
	border: 1px solid #bc0505!important;
	border-radius: 6px !important;
	font-size: 15px !important;
	width: 140px;
}

.swapView-back-button
{
	border-radius: 6px !important;
	font-size: 15px !important;
	width: 140px;
	margin-bottom: 8px;
}


/* SortableList */
.sortableList-item
{
	margin: 10px 0px;
}

.sortableList-input
{
	width :230px;
}

.showcase-slider
{
/* 	height: 355px !important; */
}

.slider-panel
{
/* 	padding: 10px 10px; */
	padding-top: 10px;
	padding-bottom: 5px !important; 
	height: 360px !important;
	overflow: hidden;
}

.slider-result-panel
{
	padding: 10px 10px;
	height: 298px !important;
}

.slider-button
{
	margin: 10px 0 !important;
}

.slider-page-title
{
	font-size: 17px;
	margin-bottom: 10px;
	font-weight: bold;
}

.slider-first-page-title
{
	font-size: 20px;
	margin: 92px 0 !important;
}

.slider-result-labels
{
	margin: 16px 0;
}

.slider-result-labels-finish
{
	margin: 30px 0;
}

.slider-result-labels-title
{
	margin: 20px 0;
	font-weight: bold;
}

.slider-input
{
	width: 250px;
}

/* Default styles */
.margin-top-bottom
{
	margin: 15px 0px;
}

.margin-bottom
{
	margin-bottom: 10px;
}

.list-button
{
	margin-right: 0px;
}

.sm-lang-wrapper
{
	position:absolute;
	padding:0;
	top:0;
	width:120px;
	right:10px;
	margin:20px 0 0 0;
}

.ie-version
{
	padding-top:3px;
}


.sm-speech-panel
{
	display: block !important;
	padding: 10px 0;
	background: white;
	margin: 7px -10px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	text-align: center;
	margin-bottom:10px !important;
}

.textDescTitle
{
	color: #3F3F3F;
	font-size: 20px;
	padding: 10px !important;
	background: #F8F8F8;
	margin: -10px -10px 10px -10px;
	border-bottom: 1px solid #ccc;
	font-weight: bold;
	text-align: center;
	display: block;
}

.faces-StyledPanel
{
	display:block !important;
}
