@external *;

/**** Sintax Highlighter ****/
pre, code{
    box-shadow:none !important;
    color:#1A1A1A !important;
}
pre code *, pre code span
{
    font-family:Consolas, Lucida Console, monospace !important;
    font-size: 13px !important;
    font-weight:normal;
}
.token.keyword
{
    color:#AA006D !important;
    font-weight:bold;
}
.token.string
{
    color:#0040B1 !important;
}
.token a
{
    text-decoration:none;
}

.choosenColor
{
	margin-bottom:10px;
}

.hide
{
	display:none;
}

/**** Layout ****/

.textDescTitle
{
    color: #000000;
    font-size: 20px;
    padding: 10px 0 20px;   
}

.textLibrary
{
		color: #000000;
    font-size: 15px;
    margin-bottom: 5px;
    margin-right: 4px;
}

.textBrowser
{
	color: #000000;
    font-size: 15px;
    vertical-align: middle;
    display: inline-block;
}
.browser-panel
{
	display: inline-block;
	vertical-align: middle;
}

.browser-image
{
	margin: 0px 10px;
	vertical-align: middle;
/* 	height: 27px !important; */
/* 	width: 27px !important; */
/* 	background-size: 100% !important; */
}
.center, .buttonsPanel
{
	text-align:center;
}

.header-container
{
	position:relative;
}

.lang-toggler-wrapper
{
	position:absolute;
	cursor:pointer;
}

.lang-toggler-label
{
	color:#fff;
	opacity:0.4;
	width:17px;
	font-size: 12px;
}

.lang-toggler-label.active
{	
	font-weight:bold;
	opacity:1;
}

.lang-toggler
{
	width:30px;
	height:15px;
	border:2px solid #fff;
	border-radius:20px;
	margin:2px 10px 0;
	position:relative;
}

.lang-toggler:before
{
	content:'';
	position:absolute;
	left:0px;
	width:9px;
	height:9px;
	margin:1px 0 0 1px;
	background:#fff;
	border-radius:15px;
	box-shadow:0 2px 2px rgba(0,0,0,0.25), 0 1px 1px rgba(0,0,0,0.2);
}

.lang-toggler.active:before
{
	-webkit-transform:translateX(15px);
	-moz-transform:translateX(15px);
	-ms-transform:translateX(15px);
	transform:translateX(15px);
}

.label-ptbr:after
{
	content:' (pt-BR)';
}

.flex
{
	display: -webkit-box;
	display: -ms-box;
	display: -webkit-flex;
	display: -ms-flex;
	display: -ms-flexbox;
	display:flex;
}

.simulate-screen
{
	border:1px solid #aaa;
	box-shadow:0 1px 3px rgba(0,0,0,0.2);
}

.scope-confirm .gwt-TextBox
{
	margin-bottom:0;
}

.heading
{
	font-size:18px;
	margin:10px 0;
}

.menuItem-image-style
{
	height: 25px;
	width: 25px;
	vertical-align: middle;
	margin-right: 10px;
}

/* Wellcome */
.doc-title
{
	font-size: 20px;
}
.fl-right
{
	float: right;
}
.tc
{
	text-align: center;
}
.btn-link
{
	text-decoration: none;
	margin-top: 5px;
 	display: block;
	margin: 0 auto;
	width: 140px;
}

/* Description components */
.textLibrary, .textBrowser
{
	display: inline-block;
	font-weight:bold;
}

.ie-panel
{
	display: inline-block;
	position: relative;
}

.ie-version
{
	right: -8px;
  top: -5px;
  width: 25px;
  height: 15px;

/* 	width:19px; */
/* 	height:19px; */
	text-align:center;
	border-radius:24px;
	position:absolute;
/* 	right:-4px; */
/* 	top:-4px; */
	background:red;
	color:white;
	font-weight:bold;
	font-size:11px;
	line-height:13px;
	box-shadow:0 0 0 2px rgba(255, 0, 0, 0.21);
}

.faces-StyledPanel
{
	display: inline-block;
	background: #fff;
	border: 1px solid #c7c7c7;
	box-shadow: 0 1px 3px rgba(90, 90, 90, 0.2);
	padding:10px;
	margin:10px;
}

.faces-StyledPanel.block
{
	display:block;
}

.faces-RollingPanel
{
	max-width:500px;
}

.showcase-rollingPanel
{
	max-width:500px;
}