@external *;

.comboBoxPopup
{
  min-width: 216px; /* TODO: this should be calculated */
}

.comboBoxPopup .itemList .faces-Pager .page .optionPanel:hover
{
  background: #e3e3e3;
}

.comboBoxPopup .itemList .faces-Pager .page .optionPanel .line
{
  display: table-row;
  width: 100%;
}

.comboBoxPopup .itemList .faces-Pager .page .optionPanel .line > *
{
  /* Backbone */
  display: table-cell;
  vertical-align: middle;
  padding: 4px;
}

.comboBoxPopup .itemList .faces-Pager .page .optionPanel .imageFlag
{
  max-width:30px;
  max-height:30px;
  width: auto;
  height: auto;
}