@external *;
@url guileUrl guile;

.maskedLabel .guilePanel
{
	background:guileUrl no-repeat left;
	background-size: 100px;
	padding-left: 100px;
	min-height: 100px;
	overflow:auto;	
}

.maskedLabel .guilePanel .crux-FormDisplay
{
	margin-top:22px;
}

.maskedLabel .guilePanel .crux-FormDisplay td
{
	border-top:none;
}