@external * ;

.pagers
{
	text-align: center;
}

.dataProviderWrapper, .lazyDataProviderWrapper {
	display: inline-block;
}

.commonPagerWrapper, .swapPagerWrapper, .scrollablePagerWrapper {
	margin: 10px auto;
	width: 75%;
	min-width: 250px;
}

.swapPagerWrapper .backPanel .faces-Button,
.swapPagerWrapper .nextPanel .faces-Button
{
	transform: inherit;
}

.dataProviderWrapper, .lazyDataProviderWrapper {
	width: 100%;
}
/* Containers */
.commonPagerWrapper .faces-WidgetList, .swapPagerWrapper .faces-WidgetList,
	.scrollablePagerWrapper .faces-WidgetList {
	border: 1px solid #ccc;
	padding: 8px;
}

/* Type Titles */
.commonPagerWrapper .gwt-Label, .swapPagerWrapper .gwt-Label,
	.scrollablePagerWrapper .gwt-Label {
	font-size: 14px;
	margin: 10px auto 20px;
}

.commonPagerWrapper .gwt-Label, .swapPagerWrapper .gwt-Label,
	.scrollablePagerWrapper .gwt-Label {
	font-size: 14px;
	margin: 20px auto;
}